/* Define your theme modifications inside next mixin */
@mixin com_company_augustwokshops-halo-ext {
  .v-grid-cell.red {
    background-color: red;
    color: white;
  }

  .v-grid-cell.green {
    background-color: seagreen;
    color: white;
  }

  .v-table-cell-content.green {
    background-color: seagreen;
    color: white;
  }
}